.contents-nav {
}

.contents-nav__title {
  font-size: 44px;
  color: #000;
  font-weight: 700;
  line-height: 120%;
  margin-bottom: 20px;
  
}

.contents-nav__points {
  text-decoration: underline;
  color: #02535F;
  margin: 0;
  margin-bottom: 10px;
}

.contents-nav__points:last-child {
  margin: 0;
}
